<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../template/head %>
</head>

<body class="container" style="padding-top:70px">

  <header>
    <% include ../template/header %>
  </header>

  <main>
    <%include ./main.ejs %>
  </main>

  <footer>
    <% include ../template/footer %>
  </footer>
  
  <%include ../template/scripts %>
</body>

</html>