<section class="py-5">
  <div class="container centered">
    <div class="row">
      <div class="col-6">
        <div class="alum"></div>
        <p class="py-4">
          The Smittcamp Family Honors College strives to ensure students receive ample opportunities to further both their
          academic and research careers. Smitty+ is designed to promote awareness of local research opportunities, travel abroad,
          internship placements, and fellowships around the country.
        </p>
      </div>
      <div class="col-6">
        <h2 class="font-weight-light">Scholarly Activity Starts Here</h2>
        <p class="py-4">
          Since its inception, the Smittcamp Family Honors College has kept scholarly activity at the forefront of its activity in
          and beyond of Fresno. Smittcamp scholars participate in a wide range of academic research and community service
          activities every year, bringing technical and community insight to Fresno State.
        </p>
        <span class="sheet-block border border-success text-center">
          <p>
            Google Sheet Insert
          </p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="mt-5">
        <div class="img-strip">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-left p-3 pl-5">
              <p class="display-4 text-white">Unsure about where to start?</p>
              <p class="display-5 text-white">Don't sweat it. Your journey through undergraduate research shouldn't be one you begin alone.</p>
            </div>
          </div>
        </div>
        <hr class="mb-5">
      </div>
    </div>
  </div>
</section>